{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Create Post" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="edit-title">Create Post </h1>
                </div>
            </div>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-dark">POST</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}